header {
    background-color: #60a3bc;
    padding-bottom: 2px;
    padding-top: 20px;
    margin-left: 0px;

}
h1 {
    font-family: 'Bangers', cursive;
    font-size: 80px;
    display: flex;
    padding-left: 50px;
    color: rgb(184, 240, 240);
}

body {
    margin:0;
    padding:0;
    background-color:#82ccdd;
}

footer {
    background-color: #3e617a;
    width: 100%;
    height: 150px;
    bottom: 0;
    position: fixed;
    text-align: center;
}

p {
    color: rgb(214, 233, 233);
    font: 1em sans-serif;
    font-size: 120%;
}